<section class="form-container">
	<!-- TITLE -->
	<h2 class="form-title">Search Magic Cards</h2>

	<!-- SEARCH INPUT -->
	<div class="p-field">
		<label for="searchTerm">Search</label>
		<div class="input-button">
			<input id="searchTerm" 
				type="search" 
				aria-describedby="searchTerm-help" 
				maxlength="20" 
				autocomplete="off" 
				pInputText 
				[(ngModel)]="searchTerm"
				(keyup.enter)="search()"/>
			<p-button icon="pi pi-search" [loading]="(isLoading$ | async) ?? false" (onClick)="search()"></p-button>
		</div>
	</div>

	<!-- CARD RESULT LIST -->
	<div class="card-display-list" *ngIf="results$ | async; let results">

		<ng-container *ngIf="hasSearched && results.length">
			<div class="card-paginator" *ngIf="currentPage$ | async; let page">
				<button pButton pRipple type="button" icon="pi pi-chevron-left" class="p-button-text" (click)="getPage(page-1)"></button>
				<div><span>{{page}} of {{totalResults$ | async}}</span></div>
				<button pButton pRipple type="button" icon="pi pi-chevron-right" class="p-button-text" (click)="getPage(page+1)"></button>
			</div>
		</ng-container>

		<!-- CARDS -->
		<ap-card-preview 
			*ngFor="let card of results" 
			[card]="card" [class.selected]="card === selected"
			[isSelected]="card === selected"
			[isLogged]="isLogged"
			(imageClick)="selected = card" 
			(unSelect)="selected = null"
			(addToCollection)="openDialog()">
		</ap-card-preview>
		
		<!-- EMPTY LIST -->
		<div *ngIf="!results?.length && (isLoading$ | async) === false">{{hasSearched ?'No results' : ''}}</div>
	</div>
</section>

<!-- ADD TO COLLECTION DIALOG -->
<p-dialog header="Select A Collection" [(visible)]="displayDialog" [style]="{'height': '50vh'}">
	<p-dropdown [options]="userCollections" [(ngModel)]="selectedCollection" optionLabel="name"></p-dropdown>
	<button pButton pRipple 
		type="button" 
		label="Add" 
		class="p-button-text p-button-sm" 
		(click)="addToCollection()"
		*ngIf="isLogged">
	</button>
</p-dialog>