<div class="public-collection">
	<h1 class="public-collection-title">

		Collection: {{collectionName}} <br> User: {{nickname}}
	</h1>
	<div class="card-display-list" *ngIf="collection">
		<ng-container *ngIf="collection.items.length > 9">
			<div class="card-paginator" *ngIf="true">
				<button pButton pRipple type="button" icon="pi pi-chevron-left" class="p-button-text" (click)="prev()"></button>
				<div class="w-100"><span>{{currentPageItems.page}} of {{maxPages}}</span></div>
				<button pButton pRipple type="button" icon="pi pi-chevron-right" class="p-button-text" (click)="next()"></button>
			</div>
		</ng-container>
		<span class="card-prev-container" *ngFor="let card of currentPageItems?.items">
			<img src="{{card?.imageUriNormal}}" alt="" class="card-image" (click)="null">
		</span>
	</div>

	<div class="card-display-list" *ngIf="!collection">
		Not found
	</div>
</div>
