<section class="form-container" [formGroup]="form">
	<!-- TITLE -->
	<h2 class="form-title">Change password</h2>

	<!-- OLD PASSWORD -->
	<div class="p-field">
		<label>
			Old Password
			<p-password 
				id="oldPassword" 
				aria-describedby="old-password-help" 
				formControlName="oldPassword" 
				autocomplete="off"
				[feedback]="false"
				>
			</p-password>

		</label>
	</div>
	<!-- NEW PASSWORD -->
	<div class="p-field">
		<label>
			New Password
			<p-password id="newPassword" aria-describedby="new-password-help" formControlName="newPassword"
				strongRegex="pattern" autocomplete="off"></p-password>

		</label>
		<small id="new-password-help" class="p-error" *ngIf="checkFormControl('newPassword')">Invalid</small>

	</div>

	<!-- CONFIRM PASSWORD -->
	<div class="p-field">
		<label>
			Confirm Password
			<p-password id="repeatNewPassword" aria-describedby="cpassword-help" formControlName="repeatNewPassword"
				strongRegex="pattern" autocomplete="off"></p-password>
		</label>
		<small id="cpassword-help" class="p-error" *ngIf="checkFormControl('repeatNewPassword')">Invalid</small>
		<small id="cpassword-help" class="p-error"
			*ngIf="form.get('newPassword')?.value !== form.get('repeatNewPassword')?.value && form.get('newPassword')?.dirty">
			Passwords must match
		</small>
	</div>

	<div>
		<p-divider></p-divider>
		<p>Requirements</p>
		<ul class="password-check-list">
			<li><i class="pi {{passwordCheck?.hasLowercase ? 'pi-check' : 'pi-times'}}"></i>At least one lowercase</li>
			<li><i class="pi {{passwordCheck?.hasUppercase ? 'pi-check' : 'pi-times'}}"></i>At least one uppercase</li>
			<li><i class="pi {{passwordCheck?.hasNumber ? 'pi-check' : 'pi-times'}}"></i>At least one number</li>
			<li><i class="pi {{passwordCheck?.hasSymbol ? 'pi-check' : 'pi-times'}}"></i>At least one symbol (#?!@$ %^&*-)
			</li>
			<li><i class="pi {{passwordCheck?.hasLength ? 'pi-check' : 'pi-times'}}"></i>Minimum 8 characters</li>
			<li><i class="pi {{passwordCheck?.passwordsMatch ? 'pi-check' : 'pi-times'}}"></i>Both Passwords must match
			</li>
		</ul>
	</div>
	<!-- CONTINUE -->
	<button pButton pRipple type="button" [loading]="(isLoading$ | async) ?? false" label="Register"
		class="p-button-raised" (click)="continue()">
	</button>
</section>