
html {
	background-color: var(--surface-a);
	color: var(--text-color);
	font-family: var(--font-family);
	font-size: 16px;
}

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	> * {
		display: block;
	}
}

.app-container {
	display: grid;
	grid-template: 10vh 80vh 10vh / auto;
	overflow: hidden;

	// header {
	// 	background-color: wheat;
	// }
	// section {
	// 	background-color: red;
	// }
	// footer {
	// 	background-color: rebeccapurple;
	// }

	&.mobile {

	}
}