<div class="about-container">
	<h2>About</h2>

	<p>
		The purpose of this prototype was to showcase common Web Apps functionalities such:
	</p>
	<ul>
		<li>CRUD</li>
		<li>Authentication/Autorization</li>
		<li>Web and movile view (movile first)</li>
		<li>Third party API consumption</li>
		<li>Custom API development</li>
	</ul>

	<h3>Stack</h3>
	<p>This app was made with Angular 13, Nestjs 8, Postgres 13 and Github as project management tool.</p>

	<h3>Special Thanks</h3>
	<p>
		Special thanks to 
		<a href="https://github.com/ManuelGCV" target="_blank" rel="noopener noreferrer">
			Manuel Cardona <i class="pi pi-github"></i>
		</a>
		who worked most of the backend.
	</p>

	<h3>Disclaimer</h3>
	<p>
		<small>

			The literal and graphical information presented on this site about Magic: The Gathering, including card images, the mana symbols, and Oracle text, is copyright Wizards of the Coast, LLC, a subsidiary of Hasbro, Inc. 
			this site is not produced by, endorsed by, supported by, or affiliated with Wizards of the Coast.
			<br>
			This site uses the Scryfall api. This app is not meant to be a production product and it was only done as a demostration. Please follow their Rate limiting and Good citizenship guidelines.
			<br>
			All rights belong to their respective owners.
		</small>
	</p>
</div>