<div class="about-container">
	<h2>About</h2>

	<p>
		The purpose of this prototype was to showcase common Web Apps functionalities such:
	</p>
	<ul>
		<li>CRUD</li>
		<li>Authentication/Autorization</li>
		<li>Web and movile view (movile first)</li>
		<li>Third party API consumption</li>
		<li>Custom API development</li>
	</ul>

	<h3>Stack</h3>
	<p>This app was made with Angular 13, Nestjs 8 and Postgres 13</p>

	<h3>Special Thanks</h3>
	<p>
		Special thanks to 
		<a href="https://github.com/ManuelGCV" target="_blank" rel="noopener noreferrer">
			Manuel Cardona <i class="pi pi-github"></i>
		</a>
		who worked most of the backend.
	</p>
</div>
