<div class="about-container">
	<h2>Welcome to MTG App</h2>
	<p>
		This prototype will let you:
	</p>
	<ul>
		<li>Search Magic the gathering cards using the Scryfall api.</li>
		<li>Create an account and login.</li>
		<li>Once you create an account, you can create collections.</li>
		<li>If you are logged in while searching, you will be able to add cards to your collections.</li>
		<li>If the collection is tradeable, it can be shared with anyone using a simple link.</li>
		<li>Light and Dark mode!</li>
	</ul>
	<p>If you want to know more about how this app was made please visit 
		<a href="https://github.com/DonaldMurillo/angular-portfolio" target="_blank" rel="noopener noreferrer">
			the github repository
		</a>
	</p>
</div>
