<div class="about-container">
	<h2>Welcome to MTG App</h2>
	<p>
		This prototype will let you:
	</p>
	<ul>
		<li>Search Magic the gathering cards using the Scryfall api.</li>
		<li>Create an account and login. (This is a prototype so only basic security was provided for the app, keep that in mind!)</li>
		<li>Once you create an account, you can create collections.</li>
		<li>If you are logged in while searching d=fir cards, you will be able to add those cards to your collections.</li>
		<li>If the collection is tradeable, it can be shared with anyone using a simple link.</li>
		<li>Light and Dark mode!</li>
	</ul>
	<p>If you want to know more about how this app was made please visit 
		<a href="https://github.com/DonaldMurillo/angular-portfolio" target="_blank" rel="noopener noreferrer">
			the github repository
		</a>
	</p>
	<p>
		This app is a <strong>prototype</strong> and might experience feature rework, removal or anything without
		any warning. The database might (and probably will) be deleted from time to time. <br>
		Any feedback is welcome in the github repository.
	</p>
	<p>
		Swagger documentation can be found 
		<a href="https://mtg-api.donaldmurillo.com/api/documentation/" target="_blank" rel="noopener noreferrer">--> here <--</a>
	</p>
</div>
